@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1 class="display-4">Welcome to Feedz</h1>
    <h2>What is Feedz ?</h2>
    <p>
        Feedz is a small open source project I started to learn again c#, .NET and ASP.NET after approx. 10 years without using it :)<br/>
        The purpose of this project is to develop an equivalent of the now dead Google Reader, I know there are already many open source projects about that but I found it was a cool project to practice this technology.
    </p>
</div>

