@{
    ViewData["Title"] = "Debug Page";
}

<div>
    <h1>Debug Page</h1>
    <div>
        <form action="/Debug/TestFeedSync" target="_blank" method="get">
            <label>URI to fetch</label>
            <input id="uri" name="uri" type="text" />
        </form>
    </div>
</div>